# For more information see: https://editorconfig.org/

root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,ts,tsx,css,json,jsonc,yml,yaml,sh}]
indent_size = 2
